/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*
  ========================================
  Grid
  ========================================
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
	margin: 0 auto;
	padding-left: 30px;
	padding-right: 30px;
	width: 960px;
  }

/*
  ========================================
  Typography
  ========================================
*/

h1, h3, h4, h5, p {
	margin-bottom: 22px;
}

.fakebtn {
	border-width: 10px;
	display: inline-block;
	margin: 0;
	border: 1px; 
	padding: 10px 30px;		
}

.btn {
	border-radius: 10px;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	margin: 0;
}
  
  
.btn-alt {
	border: 1px solid #fff;
	padding: 10px 30px;
  }
  .btn-alt:hover {
	background: #fff;
	color: #648880;
  }
  
	
.hero {
	padding: 22px 80px 66px 80px;
}
  
.title {
	font: 15px Arial, sans-serif;
}

/*
  ========================================
  Clearfix
  ========================================
*/
.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}

/*
  ========================================
  Primary header
  ========================================
*/

.logo {
	border-top: 4px solid #648880;
	float: left;
	font-size: 48px;
	line-height: 44px;
	padding: 40px 0 22px 0;
}

.primary-footer small {
	float: left;
}

.primary-footer {
	padding-bottom: 44px;
	padding-top: 44px;
}

.col {
	width: 25%;
}
.col{
  display: inline-block;
  vertical-align: top;
}

.col1 {
  display: inline-block;
  width: 15%;
  vertical-align: top;
}
.col2 {
	display: inline-block;
	vertical-align: top;
}

.grid,
.col{
  padding-left: 15px;
  padding-right: 15px;
}

.container,
.grid {
  margin: 0 auto;
  width: 960px;
}
.container {
  padding-left: 30px;
  padding-right: 30px;
}

h1, h2, h3, h4 {
	color: #648880;
}
  
h1 {
	font-size: 36px;
	line-height: 44px;
}
h2 {
	font-size: 24px;
	line-height: 44px;
}

h3 {
	font-size: 21px;
}

h4 {
	font-size: 18px;
}

h5 {
	color: #a9b2b9;
	font-size: 14px;
	font-weight: 400;
}

strong {
	font-weight: 400;
}

cite, em {
font-style: italic;
}

a:hover {
	color: #a9adb9;
}

a {
color: #648880;
}

.primary-nav {
	font-size: 14px;
	font-weight: 400;
}

.primary-footer {
	color: #648880;
	font-size: 14px;
	padding-bottom: 44px;
	padding-top: 44px;
}

.primary-footer small {
	float: left;
	font-weight: 400;
	background: linear-gradient(to right bottom, #648880, #293f50);
}
  
body {
	background: #293f50;
	color: #888;
	font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.row {
	background-image: linear-gradient(to right, rgb(156, 26, 26) 40%,rgb(73, 73, 216) 60%);
}
.row-alt {
	background: #cbe2c1;
	background: -webkit-linear-gradient(to right, #a1d3b0, #a7a182);
	background: -moz-linear-gradient(to right, #a1d3b0, #a7a182);
	background: linear-gradient(to right, #a1d3b0, #a7a182);
	width: 80%;
	padding: 10px 0 11px 0;
  }
  .row-alt2 {
	background: #cbe2c1;
	background: -webkit-linear-gradient(to right, #a1d3b0, #a7a182);
	background: -moz-linear-gradient(to right, #a1d3b0, #a7a182);
	background: linear-gradient(to right, #a1d3b0, #a7a182);
	width: 100%;
	padding: 10px 0 11px 0;
  }
  .img {
	border-radius: 50%;
	height: 130px;
	margin: -4px 0 12px 0;
	vertical-align: top;
  }
  .img2 {
	padding-left: 150px;  
	width: 400%
  }
  .frame {
	padding-left: 150px;  
	padding-bottom: 50px;
  }

  .video {
	padding-left: 150px;  
	padding-bottom: 50px;  
  }

  #container {
	width: 80%;
	height: 450px;
	position: relative;
	background-color: #eeeeee;
}

.pic {
	width: 250px;
}

#container img:hover {
	box-shadow: 15px 15px 20px rgba(50, 50, 50, 0.4);
	transform: rotate(0deg) scale(1.20);
	-webkit-transform: rotate(0deg) scale(1.20);
	z-index: 2;
}

#container img {
	padding: 10px 10px 15px;
	background: white;
	border: 1px solid #dddddd;
	box-shadow: 2px 2px 3px rgba(50, 50, 50, 0.4);
	-webkit-transition: all 0.5s ease-in;
	-moz-transition: all 0.5s ease-in;
	-ms-transition: all 0.5s ease-in;
	-o-transition: all 0.5s ease-in;
	transition: all 0.5s ease-in;
	position: absolute;
	z-index: 1;
}

.pic1 {
	left: 400px;
	top: 0;
	transform: rotate(-5deg);
	-webkit-transform: rotate(-5deg);
	-moz-transform: rotate(-5deg);
	-o-transform: rotate(-5deg);
}

.pic2 {
	left: 200px;
	top: 0;
	transform: rotate(-20deg);
	-webkit-transform: rotate(-20deg);
}

.pic3 {
	left: 0;
	right: 0;
	bottom: 0;
	transform: rotate(5deg);
	-webkit-transform: rotate(5deg);
}

.pic4 {
	bottom: 0;
	left: 500px;
	transform: rotate(-5deg);
	-webkit-transform: rotate(-5deg);
}

table, th, td {
	border: 1px solid black;
}
table {
	margin-left: 50px;
}
center {
	margin-left: auto;
	margin-right: auto;
}